version: '3'
services:
  web:
    build:    
      dockerfile: Dockerfile-alpine
      context: nginx
      args:
        - TIMEZONE=${TIMEZONE}    
    ports:
      - '8100:80'
      - '8200:90'
    volumes:
      - ./www/:/var/www/html/:delegated
      - ./log/nginx/:/var/log/nginx/:delegated
      - ./config/nginx/site.conf:/etc/nginx/conf.d/site.conf:delegated